flows.json
[{"id":"c786dd49.6dc1b","type":"tab","label":"Cloudant","disabled":false,"info":""},{"id":"b58e9ba7.683b58","type":"ui_form","z":"c786dd49.6dc1b","name":"","label":"","group":"ddb1062a.f253e8","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Gender","value":"gender","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"mail","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Enter Phone No.","value":"phno","type":"number","required":true,"rows":null},{"label":"Enter Branch","value":"branch","type":"text","required":true,"rows":null},{"label":"Enter Roll No.","value":"rollno","type":"text","required":true,"rows":null},{"label":"Enter College Name","value":"clg","type":"text","required":true,"rows":null},{"label":"Enter Year of Passing","value":"yop","type":"text","required":true,"rows":null}],"formValue":{"name":"","gender":"","mail":"","pwd":"","phno":"","branch":"","rollno":"","clg":"","yop":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":160,"wires":[["4cf13663.e3f318","80767b9e.750788"]]},{"id":"664e4261.73ce9c","type":"cloudant out","z":"c786dd49.6dc1b","name":"","cloudant":"","database":"student_details","service":"node-red-ktpms-cloudant-1591716497505-11373","payonly":true,"operation":"insert","x":500,"y":140,"wires":[]},{"id":"4cf13663.e3f318","type":"function","z":"c786dd49.6dc1b","name":"","func":"msg.payload={\n    _id:msg.payload.mail,\n    Name:msg.payload.name,\n    RollNumber:msg.payload.rollno,\n    Gender:msg.payload.gender,\n    PhoneNumber:msg.payload.phno,\n    Email:msg.payload.mail,\n    Password:msg.payload.pwd,\n    College:msg.payload.clg,\n    Branch:msg.payload.branch,\n    YearOfPassing:msg.payload.yop\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["664e4261.73ce9c"]]},{"id":"80767b9e.750788","type":"function","z":"c786dd49.6dc1b","name":"","func":"msg.payload= \"Hey\"+msg.payload.name+\". Registration Successful\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["a50ab79c.cc3998"]]},{"id":"a50ab79c.cc3998","type":"ui_text","z":"c786dd49.6dc1b","group":"ddb1062a.f253e8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":590,"y":320,"wires":[]},{"id":"6a9a40f5.6b5d8","type":"ui_form","z":"c786dd49.6dc1b","name":"","label":"","group":"1886eb94.7149b4","order":1,"width":0,"height":0,"options":[{"label":"Enter Email","value":"mail","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"mail":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":520,"wires":[["c28cd75.ee39a28"]]},{"id":"c28cd75.ee39a28","type":"function","z":"c786dd49.6dc1b","name":"","func":"global.set(\"mail\",msg.payload.mail);\nglobal.set(\"pwd\",msg.payload.pwd);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["8f4df45d.a5d988"]]},{"id":"6a95eae2.448c44","type":"cloudant in","z":"c786dd49.6dc1b","name":"","cloudant":"","database":"student_details","service":"node-red-ktpms-cloudant-1591716497505-11373","search":"_id_","design":"","index":"","x":580,"y":440,"wires":[["429a0537.f2d09c","552c9271.8d1bcc"]]},{"id":"8f4df45d.a5d988","type":"function","z":"c786dd49.6dc1b","name":"","func":"var mail=global.get(\"mail\")\nmsg.payload={\n    _id:mail\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["6a95eae2.448c44"]]},{"id":"429a0537.f2d09c","type":"debug","z":"c786dd49.6dc1b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":520,"wires":[]},{"id":"552c9271.8d1bcc","type":"function","z":"c786dd49.6dc1b","name":"","func":"var pwd=global.get(\"pwd\");\nif(msg.payload.Password==pwd){\n    msg.payload=\"Login Successful\"\n}\nelse{\n    msg.payload=\"Invalid Password\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["9407f4e2.8134f8"]]},{"id":"9407f4e2.8134f8","type":"ui_text","z":"c786dd49.6dc1b","group":"1886eb94.7149b4","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":280,"wires":[]},{"id":"ddb1062a.f253e8","type":"ui_group","z":"","name":"Registration","tab":"c969707a.89a68","order":1,"disp":true,"width":"6","collapse":false},{"id":"1886eb94.7149b4","type":"ui_group","z":"","name":"Form","tab":"81e11daf.550f5","order":1,"disp":true,"width":"6","collapse":false},{"id":"c969707a.89a68","type":"ui_tab","z":"","name":"Student","icon":"dashboard","disabled":false,"hidden":false},{"id":"81e11daf.550f5","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false}]